<header class="masthead">
    <nav class="language-nav">
        <ul>
            <li><a href="#">CSS</a></li>
            <li><a href="#">HTML</a></li>
            <li><a href="#">JavaScript</a></li>
            <li><a href="#">Ruby</a></li>
        </ul>
    </nav>

    <nav>
        <img class="logo" src="assets/AA_Times_Logo.png" alt="App Academy Times">
            <ul class="masthead-links">
                <li class="boop">Tuesday, October 18, 2016</li>
                <li class="boop">Today’s Paper</li>
                <li class="boop"> Video </li>
                <li><button>77°F</button></li>
                <li><button> AAO <strong>+100%</strong></button></li>
            </ul>
    </nav>
</header>
