.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 5px; 
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: baseline;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}

.left-nav {
  margin-top: 5px;
  > ul {
    > li {

    }
  }

  span {

  }
}

.right-nav  {

  > ul {
    align-items: center;
    > li {
  
    }

    > li:last-of-type {
  
    }
  }
  
  i {

  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
background-color: lightgray;
}

#gear-dropdown-btn {
  font-size: 30px;
}